*{
	margin: 0;
	padding: 0;
	font-family: Century Gothic;

}

body {
	background-image:url(../Pictures/Untitcled-1.jpg);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	
}

header{
	
	height: 30vh;
	background-size: cover;
	background-position: center;
}

ul{
	float: right;
	list-style-type: none;
	margin-top: 150px;
}

ul li{
	display: inline-block;
}

ul li a{
	text-decoration: none;
	color: #fff;
	padding: 5px 20px;
	border: 1px solid transparent;
	transition: 0.6s ease;
}

ul li a:hover{
	background-color: #fff;
	color: #000;
}

ul li.active a{
	background-color: #fff;
	color: #000;

}

.logo img{
	float: left;
	width: 250px;
	height: auto;
	margin-top: 25px;
	margin-left: 10px;

}

.user img{
	
	width: 70px;
	position: absolute;
	top: 4%;
	left: 92%;
}

.title{
	position: absolute;
	top: 10%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.title h1{
	color: #fff;
	font-size: 65px;
}

.login{position: absolute;
	   top: 9%;
	   left: 86%;
	   transform: translate(-50%,-50%);
	   color: #fff;
	   font-size: 20px;
}



	


/* login */
.login-form{
	width: 500px;
	margin-top: 60px;
	margin-bottom: 100px;
	background:rgba(255,255,255,0.75);
	height: 250px;
	padding: 60px 70px;
	padding-top: 20px;
	border-radius: 10px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
  }
.login-form h1{
	text-align: center;
	margin-bottom: 20px;
	font-family:Cambria, Hoefler Text, Liberation Serif, Times, Times New Roman, serif
  }
  .txtb{
	border-bottom: 2px solid #adadad;
	position: relative;
	margin: 20px 0;
  }  
  .txtb input{
	font-size: 15px;
	color:rgba(0,0,0,1.00);
	border: none;
	width: 98%;
	outline: none;
	background: #0000;
	padding: 0 5px;
	height: 40px;
  }
 .logbtn{
	display: block;
	width: 100%;
	height: 50px;
	border: none;
	background: linear-gradient(120deg,#00eeff,#2600ff);
	background-size: 200%;
	color: #fff;
	outline: none;
	cursor: pointer;
	transition: .5s;
	font-size: 20px;
  }  
  .logbtn:hover{
	background-position: right;
  }  
  .bottom-text{
	margin-top: 10px;
	text-align: center;
	font-size: 14px;
  }
  .btn{
	border:none;
	background:none;
	padding: 10px 10px;
	font-size: 20px;
	font-family: "montserrat";
	cursor: pointer;
	margin-top: 0px;
	transition: 0.8s;
	position: relative;
	overflow: hidden;
  }
.btn1{
	color: white;
}
.btn1:hover{
	color: red;
}
.btn::before{
	content: "";
	position: absolute;
	left: 0;
	width: 100%;
	height: 0%;
	background: lightskyblue;
	z-index: -1;
	transition: 0.8s;
  }
.btn1::before{
	top: 0;
	border-radius: 0 0 50% 50%;
  }
  .btn1:hover::before{
	height: 180%;
  }
  .ha1{font-family: 'Permanent Marker', cursive;}
  



/* Footer */
footer {margin-top: 30%;
        height: 70px;
        width: auto;
        background: rgba(0,0,0,0.70);
        color: #fcfcfc;
        font-family: "Roboto", sans-serif;
        padding: 35px;
	padding-top: 10px;
	    margin-left:10px; 
	    margin-right:10px;
	margin-bottom: 10px;
	    }
.row{
    display: flex;
    height: 84px;
	
	
}
.column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 60px;
	
   
}
.column > .pic{
	margin-bottom: 10px;
    height: 30px;
    width: 30px;
    background-color: brow;
}
.column > .line{
    height: 10px;
    width:200px;
    background-color: gb(206, 12, 44);
	margin-bottom: 9px;
	font-size: 14px;
}
.columna >.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10px;
    width: 150px;
    background-color:cyan;
    border-radius: 5px;
    transition: .4s all ease;
    color: white;
    font-size: 17px;
	margin-left: 160px;
	margin-top: 10px
}
.columna >.btn:hover{
    background-color: brown;
    cursor: pointer;
}
/*social*/
.social{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 300px;
	margin-left: 100px
}
.social > .icon{
    height: 30px;
    width: 30px;
    margin:9px;
}
/*#s1{background-image:url(../Pictures/fbw.png);
	background-position: center;
    background-size: cover;
	
}
#s2{background-image:url(../Pictures/twitterw.png);
	background-position: center;
    background-size: cover;
}
#s3{background-image:url(../Pictures/instaw.png);
	background-position: center;
    background-size: cover;
}
#s4{background-image:url(../Pictures/gw.png);
	background-position: center;
    background-size: cover;
}*/
.qr{
    height: 100px;
    width: 100px;
    background-image:url(../Pictures/aaqr.png);
    background-size:cover;
	background-position: center;
	margin-right: 20px;
	margin-bottom: 20px;
}
.copyright{
  
    height: 10px;
    width: 65%;
    display:block;
    margin-bottom:100px;
	
	font-size: 11px;
}
#p1{ background-image:url(../Pictures/phonew.png) ;
     background-position: center;
     background-size: cover;
}
#p2{ background-image:url(../Pictures/locationw.png) ;
     background-position: center;
     background-size: cover;
}
#p3{ background-image:url(../Pictures/emailw.png) ;
     background-position: center;
     background-size: cover;
}    
#call {margin-right: 12px}
#loc {margin-right: 60px;}

